In [1]:
import pandas as pd
import numpy as np

In [3]:
Reg = pd.read_csv('Simple_Linear_Reg.csv')

In [4]:
Reg.head()

   Id  Price  Age_06_15
0   1  13500         57
1   2  13750         57
2   3  13950         58
3   4  14950         60
4   5  13750         64

In [6]:
Reg['Age_06_15'].describe()

count    1436.000000
mean       89.947075
std        18.599988
min        35.000000
25%        78.000000
50%        95.000000
75%       104.000000
max       114.000000
Name: Age_06_15, dtype: float64

In [8]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=Reg[['Price']] 
y=Reg['Age_06_15']

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # 70% training and 30% test

In [9]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestRegressor

R = RandomForestRegressor()

#Train the model using the training sets y_pred=clf.predict(X_test)
R.fit(X_train,y_train)

y_pred = R.predict(X_test)

In [10]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

      Actual   Predicted
1301     114  103.533972
812       99  100.222182
851       94  100.042242
39        61   73.340286
1080     108  105.125985
...      ...         ...
1115     105  106.663435
1250     111  100.222182
260       75   80.622722
931       92   88.339424
725       99  106.813474

[288 rows x 2 columns]

In [11]:
from sklearn import metrics
print(metrics.mean_absolute_error(y_test, y_pred))
print(metrics.mean_squared_error(y_test, y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

6.4568342237789444
68.56183571277879
8.280207467979217

In [12]:
y_pred.mean()

89.97414535644842