# Resampling
* Under Sampling - Removing Samples randomly from the Majority Class
* Over Sampling - Adding Samples randomly to the Minority Class

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df.shape

(400, 5)

In [3]:
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [ ]:
sns.countplot(x = 'Purchased', data = df);

In [ ]:
df['Purchased'].value_counts()

In [ ]:
class_count_0, class_count_1 = df['Purchased'].value_counts()
print(class_count_0)
print(class_count_1)

In [ ]:
# Separate the Classes
class_0 = df[df['Purchased'] == 0]
class_1 = df[df['Purchased'] == 1]

In [ ]:
class_0.shape

In [ ]:
class_1.shape

# Random Under Sampling
* Try using the same with Imblearn package as well

In [ ]:
under = class_0.sample(class_count_1)

In [ ]:
under.shape

In [ ]:
finaldf = pd.concat([under, class_1])
finaldf.shape

In [ ]:
finaldf.columns

In [ ]:
sns.countplot(x = 'Purchased', data = finaldf);

# Random Over Sampling

In [ ]:
over = class_1.sample(class_count_0, replace=True)
finaldf = pd.concat([over, class_0])

In [ ]:
sns.countplot(x = 'Purchased', data = finaldf);

In [ ]:
finaldf['Purchased'].value_counts()

# SMOTE - Synthetic Minority Over-sampling Technique

1. Choose 1 datapoint among the minority class(currently 143 minority classes - 1)
1. Find its nearest neighbour(KNN = 5)
1. Create a Synthetic datapoint between the minority class and the nearest neighbour
1. Repeats the process until the class is balanced

In [ ]:
df.head()

In [4]:
x = df.drop(columns = "Purchased")
y = df.iloc[:, -1]

In [5]:
x.head()

    User ID  Gender  Age  EstimatedSalary
0  15624510    Male   19            19000
1  15810944    Male   35            20000
2  15668575  Female   26            43000
3  15603246  Female   27            57000
4  15804002    Male   19            76000

In [6]:
from sklearn.preprocessing import LabelEncoder
x['Gender'] = LabelEncoder().fit_transform(x['Gender'])

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
# Used for secondary data structures - Counter - Counts the frequency of values
from collections import Counter

In [ ]:
# import library
from imblearn.over_sampling import SMOTE

smote = SMOTE()

# fit predictor and target variable
x_smote, y_smote = smote.fit_resample(x, y)

print('Original dataset shape', Counter(y))
print('Resample dataset shape', Counter(y_smote))

In [ ]:
x_smote['Class'] = y_smote

In [ ]:
x_smote.head()

In [ ]:
x_smote.shape

In [ ]:
sns.countplot(x = 'Class', data = x_smote);

# Weights
* use utils package for assigning weights

In [7]:
# load library
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, accuracy_score, f1_score

# we can add class_weight='balanced' to add panalize mistake
rfc_model = RandomForestClassifier(class_weight='balanced')

rfc_model.fit(x, y)

rfc_predict = rfc_model.predict(x)# check performance
print('ROCAUC score:',roc_auc_score(y, rfc_predict))
print('Accuracy score:',accuracy_score(y, rfc_predict))
print('F1 score:',f1_score(y, rfc_predict))

ROCAUC score: 1.0
Accuracy score: 1.0
F1 score: 1.0