In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.datasets import load_iris

In [3]:
iris=load_iris()

In [4]:
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [5]:
data=pd.DataFrame({'sepal_length':iris['data'][:,0],'sepal_width':iris['data'][:,1],'petal_length':iris['data'][:,2],'petal_width':iris['data'][:,3],'species':iris['target']})

In [6]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [7]:
x = data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]  # Features
y = data['species']  # Labels

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
std=StandardScaler()

In [14]:
x_std=pd.DataFrame(std.fit_transform(x),columns=x.columns)

In [15]:
x_std

     sepal_length  sepal_width  petal_length  petal_width
0       -0.900681     1.019004     -1.340227    -1.315444
1       -1.143017    -0.131979     -1.340227    -1.315444
2       -1.385353     0.328414     -1.397064    -1.315444
3       -1.506521     0.098217     -1.283389    -1.315444
4       -1.021849     1.249201     -1.340227    -1.315444
..            ...          ...           ...          ...
145      1.038005    -0.131979      0.819596     1.448832
146      0.553333    -1.282963      0.705921     0.922303
147      0.795669    -0.131979      0.819596     1.053935
148      0.432165     0.788808      0.933271     1.448832
149      0.068662    -0.131979      0.762758     0.790671

[150 rows x 4 columns]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x_std,y,test_size=0.2,random_state=101)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
model=LogisticRegression(max_iter=1000,multi_class='ovr')

In [24]:
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
y_pred=model.predict(x_test)

In [30]:
model.predict_proba(x_test)

array([[9.88816636e-01, 1.11753018e-02, 8.06273798e-06],
       [9.78617391e-01, 2.13607319e-02, 2.18773750e-05],
       [9.39005148e-01, 6.08939361e-02, 1.00916328e-04],
       [1.06034822e-03, 3.96037710e-01, 6.02901942e-01],
       [2.52538342e-02, 5.79993430e-01, 3.94752735e-01],
       [1.85594058e-03, 4.29519899e-01, 5.68624160e-01],
       [1.15391508e-03, 6.78597843e-01, 3.20248242e-01],
       [1.11882480e-02, 8.63633574e-01, 1.25178178e-01],
       [6.22864675e-04, 4.41576722e-01, 5.57800414e-01],
       [7.46803161e-01, 2.53173400e-01, 2.34388248e-05],
       [1.96960900e-03, 2.44925689e-01, 7.53104702e-01],
       [9.83052357e-01, 1.69411931e-02, 6.44978514e-06],
       [8.99942954e-01, 1.00008953e-01, 4.80933840e-05],
       [4.73130462e-05, 3.84377151e-01, 6.15575536e-01],
       [7.78439611e-03, 3.21147317e-01, 6.71068287e-01],
       [2.92874262e-02, 7.89399146e-01, 1.81313428e-01],
       [1.45127345e-01, 7.12850669e-01, 1.42021986e-01],
       [7.62342307e-02, 7.70792671e-01, 1.52973098e-01],
       [8.45162154e-01, 1.54821726e-01, 1.61204858e-05],
       [1.92934585e-03, 5.91831723e-01, 4.06238931e-01],
       [2.93170619e-02, 9.22806652e-01, 4.78762856e-02],
       [9.48713293e-01, 5.12714774e-02, 1.52292862e-05],
       [2.71219487e-02, 8.56410067e-01, 1.16467985e-01],
       [3.54031005e-02, 6.54127881e-01, 3.10469019e-01],
       [3.73939086e-02, 7.85378363e-01, 1.77227728e-01],
       [1.63542660e-01, 7.48701048e-01, 8.77562916e-02],
       [6.93991179e-02, 9.12860513e-01, 1.77403687e-02],
       [1.09089135e-03, 2.20447904e-01, 7.78461205e-01],
       [7.29871258e-01, 2.70098428e-01, 3.03132179e-05],
       [4.87627858e-01, 5.12318271e-01, 5.38717805e-05]])

In [26]:
comp_df=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})

In [27]:
comp_df

     Actual  Predicted
33        0          0
16        0          0
43        0          0
129       2          2
50        1          1
123       2          2
68        1          1
53        1          1
146       2          2
1         0          0
147       2          2
32        0          0
31        0          0
122       2          2
127       2          2
74        1          1
88        1          1
96        1          1
42        0          0
134       2          1
80        1          1
48        0          0
90        1          1
65        1          1
97        1          1
64        1          1
93        1          1
114       2          2
25        0          0
41        0          1

In [28]:
from sklearn.metrics import confusion_matrix,classification_report

In [29]:
confusion_matrix(y_test,y_pred)

array([[ 9,  1,  0],
       [ 0, 12,  0],
       [ 0,  1,  7]])