In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('income.csv')

In [3]:
data.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [4]:
x=data.drop('income_level',axis=1)

In [5]:
x

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
48837   39  215419             13             0             0              36
48838   64  321403              9             0             0              40
48839   38  374983             13             0             0              50
48840   44   83891             13          5455             0              40
48841   35  182148             13             0             0              60

[48842 rows x 6 columns]

In [6]:
y=data['income_level']

In [7]:
y

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    1
Name: income_level, Length: 48842, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [15]:
x_train.shape

(39073, 6)

In [17]:
y_train.shape

(39073,)

In [18]:
x_test.shape

(9769, 6)

In [10]:
from sklearn.ensemble import AdaBoostClassifier

In [16]:
adamodel=AdaBoostClassifier(n_estimators=100,learning_rate=1)

In [12]:
model=adamodel.fit(x_train,y_train)

In [13]:
y_pred=model.predict(x_test)

In [14]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [19]:
comp_df=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})

In [20]:
comp_df

       Actual  Predicted
30658       0          0
25493       0          0
11136       0          0
3814        0          0
743         0          0
...       ...        ...
167         0          0
3070        0          0
37753       0          0
22489       0          0
8107        0          0

[9769 rows x 2 columns]

In [21]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [22]:
accuracy_score(y_test,y_pred)

0.8389804483570478

In [23]:
confusion_matrix(y_test,y_pred)

array([[7112,  300],
       [1273, 1084]])

In [24]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.96      0.90      7412
           1       0.78      0.46      0.58      2357

    accuracy                           0.84      9769
   macro avg       0.82      0.71      0.74      9769
weighted avg       0.83      0.84      0.82      9769

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
logR=LogisticRegression()

In [27]:
admodel=AdaBoostClassifier(n_estimators=100,base_estimator=logR,learning_rate=1)

In [28]:
model1=admodel.fit(x_train,y_train)

In [32]:
y_pred1=model1.predict(x_test)

In [33]:
accuracy_score(y_test,y_pred1)

0.8015149964172382

In [34]:
confusion_matrix(y_test,y_pred1)

array([[7232,  180],
       [1759,  598]])